.birne {
  position: absolute;
  top: 233px;
  left: 186px;
}
.kreis-weiss {
  position:relative;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: #ffffff;
  z-index:10;
}
.kreis-gelb {
  position:relative;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: #F8E71C;
  border:10px #F8E71C solid;
  margin:-5px 0 0 -5px;
  z-index:10;
}
.fassung {
  position: absolute;
  top: 395px;
  left: 160px;
}
.f01, .f02, .f03 {
  width: 80px;
  height: 20px;
  background: #F8E71C;
  margin-bottom: 10px;
}
.zahl {
  position: absolute;
  top: 706px;
  left: 680px;
  color: #F8E71C;
  font-family: "Monda",sans-serif;
  font-size: 27px;
}
